header{
    background-color: #ff6565;
}
#logo{
    width: auto;
    height: 70px;
}
header h1{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    font-size: 50px;
    text-shadow: 3px 2px 5px lightblue;
    text-align: center;
}

.contenedor-principal{
    background-image: linear-gradient(to bottom , #ff6565, #8ec5fc);
    display: flex;
    justify-content: space-around;
}

#textoUno{
    background:transparent;
    resize: none;
    color: black;
    height: 500px;
    width: 540px;
    font-size: 35px;
    margin-top: 20px;
    padding:10px;
    border-radius: 5%;
    border: 2px solid white;
    box-shadow: 4px 4px 10px 0 #fff;    
    text-transform: lowercase;
    outline: none;
}

#textoDos{
    background: transparent;
    resize: none;
    color: black;
    height: 500px;
    width: 540px;
    font-size: 35px;
    margin-top: 20px;
    padding:10px;
    border-radius: 5%;
    border: 2px solid white;
    box-shadow: 4px 4px 10px 0 #fff;
    text-transform: lowercase;
    outline: none;
}
.botones{
    text-decoration: none;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-family: inherit;
    color: #fff;
    width: 8em;
    height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    margin-top: 5px;
}

button:hover {
    animation: ani 8s linear infinite;
    border: none;
}
@keyframes ani {
    0% {
    background-position: 0%;
    } 
    100% {
    background-position: 400%;
    }
}
button:before {
    content: '';
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}
button:hover::before {
    filter: blur(20px);
}
button:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
}


footer{
    text-align: center;
    background-color: #8ec5fc;
}

@media screen and (max-width:1100px){
    .contenedor-principal{
        display: block;
        text-align: center;
    }
    #textoUno, #textoDos{
        margin: 20px 0;
    } 
}
@media screen and (max-width:580px){
    #textoUno, #textoDos{
        height: 300px;
        width: 80%;
    } 
}